OPENAI_API_KEY=<your_openai_api_key>
TG_BOT_API_KEY=<your_tg_bot_api_key>

AI_ASSSTANT_FACT_SPARK_ID=<your_ai_assistant_fact_spark_id>
AI_ASSISTANT_RANDOM_FACTS_ID=<your_ai_assistant_random_facts_id>
AI_ASSISTANT_TALK_ID=<your_ai_assistant_talk_id>
AI_ASSSTANT_QUIZ_MASTER_ID=<your_ai_assistant_quiz_master_id>